<style>
  footer span,
  footer p {
    color: #fff !important;
  }

  footer {
    font-size: 0.8em;
  }
</style>

<footer class="text-center text-lg-start" style="background-color: #3B6C79;">
  <div class="container p-4">
    <div class="row mt-3">
      <div class="col-md-4 mb-3">
        <h4 class="mb-3" style="color: #99E2CB;">STUDIO PITAGORA</h4>
        <p>Valutazione, trattamento e prevenzione dei disturbi del linguaggio, voce, deglutizione e comunicazione.
          Terapia Miofunzionale Orofacciale (TMF)
          <br>
          Equipe multidisciplinare logopedia - psicologia - osteopatia - TNPEE - massoterapia
          <br><br>
          Orario di apertura: <br>
          dalle ore 8:00 alle 18:00 <br>
          dal lunedì al venerdì.
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h4 class="mb-3" style="color: #99E2CB;">RISORSE UTILI</h4>
        <p>Privacy Policy</p>
        <p>Cookie Policy</p>
        <p><a href="/logopedia" style="text-decoration: none; color: inherit;">Logopedia</a></p>
        <p><a href="/psicoterapia" style="text-decoration: none; color: inherit;">Psicoterapia</a></p>
        <p><a href="/psicologia" style="text-decoration: none; color: inherit;">Psicologia dell'età evolutiva / Tutor
            DSA</a></p>
        <p><a href="/tnpee" style="text-decoration: none; color: inherit;">TNPEE</a></p>
        <p><a href="/osteopatia" style="text-decoration: none; color: inherit;">Osteopatia D.O. e Chinesiologia</a></p>
        <!-- <p><a href="/massoterapia" style="text-decoration: none; color: inherit;">Massoterapia</a></p> -->

      </div>
      <div class="col-md-4 mb-3">
        <h4 class="mb-3" style="color: #99E2CB;">CONTATTI</h4>
        <div class="d-flex align-items-center my-2">
          <i class="bi bi-telephone-fill me-2" style="color: #99E2CB;"></i>
          <span>+39 349 286 5895</span>
        </div>
        <a href="mailto:alessandro@logopedistarigamonti.com" class="d-flex align-items-center my-2 text-decoration-none"
          style="cursor: pointer; color: inherit;">
          <i class="bi bi-envelope-fill me-2" style="color: #99E2CB;"></i>
          <span>alessandro@logopedistarigamonti.com</span>
        </a>
        <a href="https://www.google.com/maps/search/?api=1&query=Via+Pitagora+5,+37138+Verona+VR" target="_blank"
          class="d-flex align-items-center my-2 text-decoration-none" style="cursor: pointer; color: inherit;">
          <i class="bi bi-geo-fill me-2" style="color: #99E2CB;"></i>
          <span>Via Pitagora, 5, 37138 Verona VR</span>
        </a>
        <div class="d-flex gap-3 my-2">
          <a href="https://www.facebook.com/logopediaverona" target="_blank" class="text-decoration-none"
            style="cursor: pointer;">
            <i class="bi bi-facebook" style="color: #99E2CB; font-size: 1.5rem;"></i>
          </a>
          <a href="https://www.instagram.com/studio_pitagora_vr" target="_blank" class="text-decoration-none"
            style="cursor: pointer;">
            <i class="bi bi-instagram" style="color: #99E2CB; font-size: 1.5rem;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>