<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logopedia</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logosenzasfondo.png') }}">

  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  </style>
</head>

<body>

  <div style="height: 140px; background-color: #C18774;">
    {% include "navbar.html" %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col p-5 bg-light">

        <img src="{{url_for('static', filename='images/imm_1.jpeg') }}" class="img-fluid w-100 h-100 object-fit-cover">
      </div>
      <div class="col p-5 bg-light">
        <h3 class="fw-bold">Logopedia</h3>
        {% include "cerchi.html" %}
        <p>
          La logopedia è un professione sanitaria condotta da uno specialista nella prevenzione, valutazione e
          trattamento delle difficoltà legate a comunicazione, linguaggio, voce, funzioni orali e abilità cognitive.
          <br><br>

          L’intervento logopedico accompagna <span style="font-weight: bold;">ogni fase della vita</span> - dal neonato
          all’anziano - e si adatta alle esigenze
          specifiche di ciascuna persona. <br>
          Il nostro obiettivo è favorire lo sviluppo o il recupero delle abilità compromesse, attraverso un percorso
          personalizzato, graduale e condiviso con il paziente e la sua famiglia.
        <h5 class="fw-bold">Il nostro approccio</h5>
        In Studio Pitagora crediamo nella collaborazione come valore fondamentale. <br>
        Ci avvaliamo della co-partecipazione di diversi logopedisti, che costituiscono un vero e proprio team di
        interscambio e sostegno reciproco, in costante confronto per garantire il meglio ai nostri pazienti. <br><br>

        Il servizio logopedico è coordinato direttamente dal Dott. Rigamonti, fondatore e responsabile dello studio, che
        si occupa personalmente di: <br><br>
        <ul>
          <li>valutazioni iniziali,</li>
          <li>controlli di follow-up,</li>
          <li>stesura di bilanci logopedici,</li>
          <li>definizione di piani di trattamento, anche in un’ottica multidisciplinare, in collaborazione con le altre
            figure del team.</li>
        </ul>
        <h5 class="fw-bold">Il nostro approccio</h5>
        Il nostro team è composto da logopedisti altamente qualificati, ciascuno con competenze specifiche in diversi
        ambiti della logopedia, per offrire interventi mirati, aggiornati e di elevata professionalità. <br>
        Grazie a un confronto costante e a un lavoro di squadra sinergico, possiamo garantire ai pazienti e alle loro
        famiglie una presa in carico completa, equilibrata ed efficace.
        </p>
        <div class="button-right">
          <a href="/contatti" class="btn text-white rounded-pill px-4"
            style="background-color:#C18774; text-decoration:none;">
            PRENOTA UNA PRIMA CONSULENZA
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-8 p-5 bg-light">
        <h4 class="fw-bold">Logopedista</h4>
        <h3 class="fw-bold">Dott. Alessandro Rigamonti</h3>
        {% include "cerchi.html" %}
        <p>
          Sono il fondatore e responsabile di Studio Pitagora.
          Mi sono laureato in Logopedia nel 2011 all’Università di Verona.
          Ho iniziato la mia carriera lavorando in diversi studi tra Verona, Brescia e Bergamo.
          Dal 2014 mi sono specializzato in deglutologia e disfagia, sviluppando un progetto innovativo per la presa in
          carico dei neonati pre-termine con disfagia perinatale presso l’Azienda Ospedaliera Universitaria Integrata di
          Verona.
          Ho inoltre collaborato come co-direttore di un Centro Servizi per le famiglie e partecipato a un progetto
          europeo su modelli di riabilitazione telematica per pazienti con Morbo di Alzheimer.
          Dal 2017 opero anche in una fondazione per anziani, occupandomi di disturbi comunicativi e della deglutizione.
          Nel 2023 ho fondato Studio Pitagora, un centro multidisciplinare dedicato al benessere e alla salute, dove
          professionisti di diverse aree collaborano per offrire percorsi terapeutici personalizzati e integrati.
        </p>
      </div>
      <div class="col-4 p-5 bg-light d-flex justify-content-center align-items-center">
        <img src="{{url_for('static', filename='images/foto_ale.png') }}" class="rounded-circle"
          style="width: 200px; height: 200px; object-fit: cover;">
      </div>

    </div>
  </div>

  {% include "footer.html" %}
</body>

</html>